.hidden {
    display: none;
}
.tarjetas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    background-color: #f5f5f5;
    margin: 10px;
}

.botonx{
    color: red;
    background-color: crimson;
}

.titulo-tarjetas {
    text-align: center;
}

.imagen {
    display: flex;
    justify-content: center;
}
